*{
    margin:0;
    padding:0;
}
h1 {
    font-size: 6em;
    color: rgb(139, 33, 7);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 50px 0;
}

#game{
    width: 400px;
    padding: 0 35px;
    height: 200px;
    border: 2px solid black;
    align-items: center;
    background-color: rgb(241, 239, 99);
    margin: 0 auto;
}

#personagem{
    width: 30px;
    height: 50px;
    background-color: rgb(248, 106, 11);
    position: relative;
    top: 150px;
}

.animar{
    animation: personagem 500ms infinite;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: rgb(194, 7, 32);
    position: relative;
    top: 130px;
    left: 380px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}

footer{
    margin-top: 115px;
    background-color:rgb(250, 177, 93);
    color:rgb(0, 0, 0);
    padding: 20px;
    font-weight: bold;
}