*{
    margin:0;
    padding:0;
}

#game{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    align-items: center;
    background-color: azure;
}

#personagem{
    width: 30px;
    height: 50px;
    background-color: plum;
    position: relative;
    top: 150px;
    
}

.animar{
    animation: personagem 500ms infinite;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: purple;
    position: relative;
    top: 130px;
    left: 380px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}