*{
    margin:0;
    padding:0;
}

#game{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    align-items: center;
    background-color: azure;
}

#personagem{
    width: 30px;
    height: 50px;
    background-color: plum;
    position: relative;
    top: 150px;
    
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: purple;
    position: relative;
    top: 130px;
    left: 380px;
    
}